<header>
  <h3> TinyApp </h3>
   <div style= "margin-bottom: 20px;">
      <% if (!user) { %>
        <form method= "GET" action= "/register" style= "display: inline-block;">
          <input class= "form-group mb-2" type= "submit" value= "Register">
        </form>
        <form method= "GET" action= "/login" style= "display: inline-block;">
          <input class= "form-group mb-2" type="submit" value= "Log In">
        </form>
      <% } else { %>
        <form method= "POST" action= "/logout" style= "display: inline-block;">
          <input class= "form-group mb-2" type= "submit" value= "Log Out">
        </form>
        <h5>Logged in as: &nbsp;<span style= "font-weight: normal;"> <%= user.email %></span></h5>
       <% } %>
    </div>
</header>
