<!DOCTYPE html>
<html lang="en">

<head>
  <title>Try Again!
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body style="text-align: center;">
  <h2><%= errCode %>&nbsp;ERROR</h2>
  <h3><%= errMsg %></h3>
  <hr>
  <h2><a href="/">please go back to the tinyApp home page to login or create a new account</a></h2>
</body>

</html>