<!DOCTYPE html>
<html lang="en">

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <main>
    <a href='#'>Create New TinyURL</a>
      <h6>TinyURL for <%= longURL %></h6>
          <p><%= shortURL %></p>
    </main>
  </body>
</html>