<!DOCTYPE html>
<html lang="en">

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <main>
      <h4>Link</h4>
        <ul>
          <li><%= shortURL %> - <%= longURL %></li>
        </ul>
    </main>
  </body>
</html>