<!DOCTYPE html>
<html lang="en">

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <main>
    <a href='#'>Create New TinyURL</a>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form><h4>TinyURL for <%= longURL %></h4>
          <p><%= shortURL %></p>
    </main>
  </body>
</html>